@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');



@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: "Hind Siliguri", sans-serif;
}